.main__favorites main{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__favorites section{
    display: flex;
    flex-wrap: wrap;
}

.main__favorites main div{ 
    margin-top: 15px;
}

.favorite__btn button{
 border: none;
 margin-right: 20px;
 background-color: #ffffff;
}