.container-recipe-card {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 135px;
  left: 19px;
  top: 298px;
  width: 318px;
}

.image-card {
  background: 'url(.jpg)';
  border-radius: 5px 0 0 5px;
  height: 134.85px;
  left: 19px;
  top: 298px;
  width: 163.35px;
}

.right-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding-left: 10px;
  width: 50%;
}

.title {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  left: 203px;
  line-height: 12px;
  padding-top: 5px;
  text-align: center;
  top: 484px;
}

.category {
  color: #797d86;
  font-family: Epilogue , sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  height: 9px;
  left: 203px;
  line-height: 9px;
  text-align: center;
  top: 350px;
}

.middle-section {
  align-self: left;
  display: flex;
  justify-content: left;
}

.button-share {
  background-color: white;
  border: none;
  height: 50px;
  width: 50px;
}

.image-share {
  height: 25px;
  left: 180px;
  right: 15px;
  top: 350px;
  width: 25px;
}

.link-paragraph {
  color: #797d86;
  font-family: Epilogue , sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
}

.botton-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
}

.button-favorite {
  background-color: white;
  border: none;
  height: 50px;
  width: 50px;
}

.image-favorite {
  bottom: 48.21%;
  left: 66.11%;
  right: 27.53%;
  top: 49.25%;
}

.tags {
  align-items: center;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 9px;
  left: 208px;
  line-height: 9px;
  top: 409px;
  width: 17px;
}
