@media only screen and (max-width: 382px) and (min-width: 100px){

    .main__login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../images/login_background.jpg');
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    
    .form__login {
        background-color: rgba(255, 255, 255, 0.8);
        height: 600px;
        width: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .form__login form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form__login form input{
    width: 226px;
    height: 35px;
    margin-bottom: 10px;
    padding: 10px;
    
    border: 0.5px solid #41197F;
    border-radius: 5px;
    }

    .form__login form input::placeholder{
    font-size: 10px;
    }

    .form__login form button {
        width: 226px;
    height: 35px;
    color: black;
    font-size: 12px;
    background: #FCC436;
    border-radius: 5px;
    }
    
    .form__login img{
        width: 150px;
        height: 150px;
    }

}

@media only screen and (min-width: 383px){

    .main__login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../images/login_background.jpg');
        width: 100vw;
        height: 100vh;
    }
    
    .form__login {
        background-color: rgba(82, 90, 124, 0.8);
        border-radius: 10px;
        height: 400px;
        width: 600px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .form__login form{
        display: flex;
        flex-direction: column;
    }
    
    .form__login form input{
    width: 276px;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    
    border: 0.5px solid #41197F;
    border-radius: 5px;
    }
    .form__login form button {
        width: 276px;
    height: 40px;
    color: black;
    
    background: #FCC436;
    border-radius: 5px;
    }
    
    .form__login img{
        width: 150px;
        height: 150px;
    }

}



