form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    font-weight: 500;
    
}

form button {

border: none;
background-color: #ffffff;
border-top: solid 1px #d7d9df;

width: 256px;
height: 66px;

}