.img-fluid{
    width: 100%;
}


.recipe__details__main h2:nth-child(2){
    z-index: 1;
    position: absolute;
    font-size: 70px;
}

.recipe__img{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
        text-shadow: 1px 1px 5px black;
}

/* .recipe__img div:first-child{
display: flex !important;
position: relative;
justify-content: space-between;
margin-top: -250px;
} */

.recipe__img div{
    width: 100%;
    display: flex;
    padding: 15px;
}

.details__header{
    height: 100%;
    width: 100%;
    color: yellow;
    text-shadow: 1px 1px 5px black;
}

.details__header button{
    height: 60px;
    width: 60px;
    border: none;
    background-color: transparent;
    color: yellow;
    text-shadow: 3px 2px 5px black;
}

.container-1, .container-xxl {
    border: 1px solid rgb(161, 156, 156);
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
  /*   box-shadow: 2px 10px 20px black; */
}

.container-1 li{
    text-decoration: none;
    list-style: none;
}

ul:first-child {
    text-align: left;
}

.div__inProgress {
    margin: 20px 0 20px 0;
    background-color: rgb(241, 239, 239);
    box-shadow: 2px 2px 15px 5px  gray;
    border: 50px;
}
.container-xxl{
    width: 100%;
}

.container-xxl h5{
margin: 10px;
}

.container-xx h5{
    margin: 10px;
    }

    .container-xxl{
        width: 100%;
        margin: 0;
        padding: 20px;
        }

li {
    list-style: none;
    font-weight: 500;
}

.check__recipe{
    width: 50px;
    background-color: yellow;
}
